*{
    margin:0px;
}

@font-face {
    font-family: "Titulo";
    src: url("Fontes/MeowScript-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

:root{
    --cor0:#FED8D2;
    --cor1:#40211E;
    --cor2:#FF3D7F;
    --cor3:#F2E0D0;
    --cor4:#202026;
}

body{
    background-color: var(--cor4);
}

header{
   background-color: var(--cor0);
   padding: 30px;
   
   h1{
        font-family: "Titulo", 'Times New Roman', Times, serif;
        font-weight: normal;
        font-style: normal;
        text-align: center;
        
    }

}

.artigos{
    a{
        color: black;
    }
    background-color: var(--cor2);
    width: 100px;
    height: 100px;
    margin: 10px;
}